<div class="login-wrapper">
  <form class="login-container" (ngSubmit)="login()" ngNativeValidate>
    <img src="./assets/tezoLogo.svg" alt="company Logo" />
    <div class="login-details">
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        placeholder="john.c@example.com"
        [(ngModel)]="emailAddress"
        name="emailAddress"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <app-button color="btn--blue" size="btn--large">Login</app-button>
    <div class="sign-up">
      <a
        routerLink="/register"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Create An Account</a
      >
    </div>
  </form>
</div>
