<section class="add-employee">
  <div>
    <h2>Employees</h2>
    <p>
      Find all of your company's employee accounts and their associated roles
    </p>
  </div>
  <div>
    <app-button
      color="btn--white"
      size="btn--medium"
      classes="export-btn"
      (click)="exportData()"
      >EXPORT</app-button
    >

    <app-button
      color="btn--red"
      size="btn--medium"
      classes="add-btn"
      (click)="addEmployee()"
      >ADD EMPLOYEE</app-button
    >
  </div>
</section>
